src/main/webapp/WEB-INF/ws/CustomerServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://impl.service.theatre.epam.com/" name="CustomerServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://impl.service.theatre.epam.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.service.theatre.epam.com/" schemaLocation="CustomerServiceImplService.xsd"/>
    </xsd:schema>
  </types>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="save">
    <part name="parameters" element="tns:save"/>
  </message>
  <message name="saveResponse">
    <part name="parameters" element="tns:saveResponse"/>
  </message>
  <message name="getByEmail">
    <part name="parameters" element="tns:getByEmail"/>
  </message>
  <message name="getByEmailResponse">
    <part name="parameters" element="tns:getByEmailResponse"/>
  </message>
  <message name="getById">
    <part name="parameters" element="tns:getById"/>
  </message>
  <message name="getByIdResponse">
    <part name="parameters" element="tns:getByIdResponse"/>
  </message>
  <message name="getAllByName">
    <part name="parameters" element="tns:getAllByName"/>
  </message>
  <message name="getAllByNameResponse">
    <part name="parameters" element="tns:getAllByNameResponse"/>
  </message>
  <message name="getBookedTickets">
    <part name="parameters" element="tns:getBookedTickets"/>
  </message>
  <message name="getBookedTicketsResponse">
    <part name="parameters" element="tns:getBookedTicketsResponse"/>
  </message>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse"/>
  </message>
  <message name="saveAll">
    <part name="parameters" element="tns:saveAll"/>
  </message>
  <message name="saveAllResponse">
    <part name="parameters" element="tns:saveAllResponse"/>
  </message>
  <portType name="CustomerServiceImpl">
    <operation name="update">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/updateRequest" message="tns:update"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/updateResponse" message="tns:updateResponse"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/deleteResponse" message="tns:deleteResponse"/>
    </operation>
    <operation name="save">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/saveRequest" message="tns:save"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/saveResponse" message="tns:saveResponse"/>
    </operation>
    <operation name="getByEmail">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getByEmailRequest" message="tns:getByEmail"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getByEmailResponse" message="tns:getByEmailResponse"/>
    </operation>
    <operation name="getById">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getByIdRequest" message="tns:getById"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getByIdResponse" message="tns:getByIdResponse"/>
    </operation>
    <operation name="getAllByName">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getAllByNameRequest" message="tns:getAllByName"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getAllByNameResponse" message="tns:getAllByNameResponse"/>
    </operation>
    <operation name="getBookedTickets">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getBookedTicketsRequest" message="tns:getBookedTickets"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getBookedTicketsResponse" message="tns:getBookedTicketsResponse"/>
    </operation>
    <operation name="getAll">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getAllRequest" message="tns:getAll"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/getAllResponse" message="tns:getAllResponse"/>
    </operation>
    <operation name="saveAll">
      <input wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/saveAllRequest" message="tns:saveAll"/>
      <output wsam:Action="http://impl.service.theatre.epam.com/CustomerServiceImpl/saveAllResponse" message="tns:saveAllResponse"/>
    </operation>
  </portType>
  <binding name="CustomerServiceImplPortBinding" type="tns:CustomerServiceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="save">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getByEmail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBookedTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CustomerServiceImplService">
    <port name="CustomerServiceImplPort" binding="tns:CustomerServiceImplPortBinding">
      <soap:address location="http://localhost:8080/mvc/ws"/>
    </port>
  </service>
</definitions>

